body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a:focus, a:hover {
    text-decoration: none;
}
.header-block {
    color: #0d0826;
}
.header-row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-contact-block a {
    color: #0d0826;
    font-size: 22px;
    margin-left: 15px;
    border-bottom: 1px solid transparent;
    display: block;
}
.header-contact-block a:hover {
    border-bottom: 1px solid #333;
}
.order-button-click {
    padding: 12px 22px;
    color: #0d0826;
    background-color: transparent;
    border: 2px solid #0d0826;
    position: relative; 
}
.order-button-click-header {
    margin-left: 15px;
}
.order-button-click:after {
    content: " ";
    border: #0d0826;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.4s;
}
.order-button-click:hover:after {
    border: 2px solid #0d0826;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
.order-button-click:hover {
    color: #0d0826;
}
.header-logo img {
    width: 144px;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 15px;
    top: 7px;
}
.header-cart-block {
    position: relative;
}
.header-cart i {
    font-size: 64px;
    color: #009846;
}
.header-cart-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #fecc00;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}
.header-cart-number a {
    color: #0d0826;
}
.header-address {
    width: 205px;
    font-size: 18px;
}
.header-row-flex i {
    color: #009846;
    transition: all .3s linear;
}
.header-row-flex i:hover {
    color: #fecc00;
}
.menu-line-menu {
    background-color: #fecc00;
}
.navbar {
    min-height: auto;
    margin-bottom: 0;
    border: none;
}
.navbar-collapse {
    padding: 0;
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #0d0826;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #009846;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #009846;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #009846;
}
.title-margin {
    margin-top: 40px;
}
.title-block-hidden {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.title-block-hidden:before, .title-block-hidden:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #fecc00;
}
.title-block-hidden:before {
    margin-left: -100%;
    left: -14px;
}
.title-block-hidden:after {
    margin-right: -100%;
    right: -14px;
}
.main-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.main-goods-item img {
    width: 100%;
}
.main-goods-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.main-goods-item {
    width: 49%;
    position: relative;
    margin-bottom: 20px;
}
.goods-description {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(92%, 92%, 91%, 0.8);
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s linear;
}
.main-goods-item:hover .goods-description {
    opacity: 1;
}
.goods-title {
    font-weight: bold;
    font-size: 20px;
}
.footer-page {
    background-color:#fecc00;
    padding: 30px 0;
    margin-top: 40px;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.footer-logo img {
    width: 150px;
}
.footer-flex-block a {
    color: #0d0826;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
.footer-flex-block a:hover {
    border-bottom: 1px solid #0d0826;
}
.footer-address .social-block {
    display: flex;
}
.footer-address .social-block a {
    margin-right: 8px;
    font-size: 22px;
}
.footer-address-item i {
    margin-right: 10px;
}
.footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #0d0826;
}
.footer-copyright a {
    color: #0d0826;
}
.button-center {
    text-align: center;
    margin-bottom: 40px;
}
.social-block a, .footer-logo a {
    border: none;
}
.social-block a:hover, .footer-logo a:hover {
    border: none;
}
.goods-price {
    font-weight: bold;
    margin-bottom: 20px;
}
.breadcrumb-item a {
    color: #0d0826;
    border-bottom: 1px solid transparent;
}
.breadcrumb-item a:hover {
    border-bottom: 1px solid #0d0826;
}
.breadcrumb {
    background-color: transparent;
    padding: 8px 0;
}
.product-cart-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-cart-photo {
    width: 48%;
}
.product-cart-photo img {
    width: 100%;
}
.form .rabs {
    display: flex;
    font-weight: bold;
}
.btn-default-rabs:active, .btn-default-rabs.active, .btn-default-rabs.active.focus {
    color: #0d0826;
    background-color: #fecc00;
    border-color: #fecc00;
    outline: none;
}
.product-cart-configuration {
    width: 48%;
}
.configuration-price {
    margin: 30px 0;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 26px;
    box-shadow: 0px 0px 31px 0px rgba(119,119,119,0.66);
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.btn-default-rabs {
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.btn-toggle {
    margin-bottom: 30px;
}
.product-cart-description {
    margin-top: 30px;
}
[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.flex-contacts-page {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.page-address-item {
    width: 32%;
    margin-bottom: 20px;
}
.page-address-item a {
    color: #009846;
    font-size: 24px;
}
.contact-page-address {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.map-contact-block {
    width: 100%;
}
.product-cart-description p {
    text-align: justify;
}
.configuration-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.technical-characteristic {
    margin: 40px 0;
}
.order-button-click i {
    font-size: 20px;
}
.product-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.product-tags span {
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-tags a {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid #0d0826;
    margin-right: 10px;
    color: #0d0826;
    text-decoration: underline;
    font-size: 13px;
    margin-bottom: 10px;
}
.product-tags a:hover {
    text-decoration: none;
}
.product-cart-table {
    width: 100%;
    border: 1px solid #0d0826;
    margin-bottom: 40px;
}
.product-cart-table td {
    padding: 3px 7px;
    border: 1px solid #0d0826;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: bold;
    }
    
}
@media (max-width: 1199px) {
    .owl-next {
        right: 3%;
    }
    .owl-prev {
        left: 3%
    }
}
@media (max-width: 991px) {
    .header-logo img {
        width: 146px;
    }
    .header-cart i {
        font-size: 50px;
    }
    .header-contact-block a {
        font-size: 18px;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
    .page-address-item {
        width: 49%;
    }
    .configuration-btn .order-button-click {
        margin-bottom: 15px;
    }
}
@media(max-width: 767px) {
    .header-row-flex {
        flex-wrap: wrap;
    }
    .header-contact-block {
        margin-right: 20px;
    }
    .header-logo img {
        width: 181px;
        margin: 0 20px 20px 0;
    }
    .header-contact-block a {
        margin-left: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #0d0826;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #fff;
    }
    .main-goods-item {
        width: 100%;
    }
    .goods-title {
        text-align: center;
    }
    .footer-links {
        margin-right: 15px;
    }
    .product-cart-photo {
        width: 100%;
        margin-bottom: 30px;
    }
    .product-cart-configuration {
        width: 100%;
    }
    .page-address-item {
        width: 100%;
    }
}
@media(max-width: 500px) {
    .header-logo {
        width: 49%;
    }
    .footer-logo img {
        width: 100%;
    }
    .header-logo img {
        width: 100%;
    }
    .footer-logo {
        width: 100%;
    }
    .order-button-click {
        font-size: 14px;
    }
}
@media(max-width: 400px) {
    .header-logo {
        width: 100%;
    }
}